<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Catálogos corporativos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="cunder-construction-container">
    <div class="hero">
      <h2>Mentenimiento a los catalogos corporativos</h2>
      <p>
        <ion-text color="warning">
          Esta funcionalidad está en construcción
        </ion-text>
      </p>
    </div>
  </div>
</ion-content>
