// .logo-image {
//   width: 64px;
//   height: auto;
// }
.main-menu-footer {
  .toolbar-container {
    height: 40px;
  }
  font-size: 0.8rem;
}
ion-footer {
  ion-toolbar {
    font-size: 0.8rem;
    .toolbar-container {
      height: 38px;
    }
  }
}
